<div class="container-Com">
<h1>MI inicio</h1>
<p>
    Las meta tags en HTML incluyen información sobre la página web y, por lo tanto, también es contenido que interpretan los motores de búsqueda como Google. Existen meta tags para los títulos de los productos, para los precios y también para las descripciones, las denominadas meta descripciones, que hoy vamos a trabajar. Las meta descripciones se utilizan en los resultados de búsqueda (los buscadores) y también en las redes sociales. Y es que cuando compartimos un producto o categoría en las redes sociales la meta descripción aparece como un elemento destacado.

Más info en: https://www.palbin.com/es/blog/p651-como-escribir-meta-descripciones-en-una-tienda-online.html
</p>
</div>