<div class="container-fluid">
  <div class="row">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img  src="../../../assets/images (1).jpg"  width="1130" height="200" alt="PrimerImagen">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images (2).jpg"  width="1130" height="200" alt="SegundaImagen">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images (3).jpg"  width="1130" height="200" alt="TerceraImagen">
              </div>
            </div>
          </div>

          <nav class="navbar navbar-light bg-light">
              <nav class="navbar navbar-light bg-light">
                <a href="#">Registrarse</a>
                </nav>
                <nav class="navbar navbar-light bg-light">
                    <a href="../../users/login">Login</a>
                  </nav>
          </nav>
  </div>
</div>
